# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

# DÉTAILS D'UNE RECIPE
# PATTERN: recipes/id/slug
# URL: index.php?recipes=show&id=x
RewriteRule ^recipes/([1-9][0-9]*)/[0-9a-z][0-9a-z\-]*$ index.php?recipes=show&id=$1 [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
